## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

## Visual Studio
.vs/
*.csproj.user

## Rider
.idea/

## Logs
logs/
*.log

## OS
Thumbs.db
desktop.ini
.DS_Store
